@import "normalize-scss/normalize";
@import "gumby/sass/gumby";

header.row {
  margin-top: 20px;
  margin-bottom: 20px;
  .title {
    padding-top: 0px;
    .memphis {
      color: #6fc6ba;
    }
    .ruby {
      color: #bb1a40;
    }
  }
  #github-ribbon {
    position: absolute;
    top: -20px;
    right: 0;
  }
}
footer.row {
  margin-top: 20px;
}

p.lead {
  text-align: justify;
}
.text-centered{
  text-align: center;
}

.well {
  background-color: #F5F5F5;
  padding: 10px 30px;
  margin-bottom: 30px;
}

ul {
  list-style-position: inside;
  list-style-type: disc;
}

.index {
  p.lead {
    margin-bottom: 30px;
  }
}
