$header-link-color:       #CC0033;
$header-link-hover-color: #990033;
$body-link-color:         #339999;
$body-link-hover-color:   #356E6E;

@import "normalize-scss/normalize";
@import "gumby/sass/gumby";
@import "github-pygment";

code.highlight {
  display: block;
  padding: 10px;
  margin-bottom: 12px;
  background: rgba(0,0,0,0.025);
  border-radius: 7px;
  border: 1px solid rgba(0,0,0,0.1);
}

header.row {
  margin-top: 20px;
  margin-bottom: 20px;
  .title {
    padding-top: 0px;
    .memphis {
      color: $header-link-color;
    }
    .ruby {
      color: $body-link-color;
    }
  }
  #github-ribbon {
    position: absolute;
    top: -20px;
    right: 0;
  }
}
footer.row {
  margin-top: 20px;
}

p.lead {
  text-align: justify;
}
.text-centered{
  text-align: center;
}

.well {
  border-radius: 7px;
  background: rgba(0,0,0,0.025);
  border: 1px solid rgba(0,0,0,0.1);
  padding: 10px 30px;
  margin-bottom: 30px;
}

ul {
  &.no-disc {
    list-style-type: none;
  }
  list-style-position: inside;
  list-style-type: disc;
}

.index {
  p.lead {
    margin-bottom: 30px;
  }
}
