@import "normalize-scss/normalize";
@import "gumby/sass/gumby";

.text-centered{
  text-align: center;
}

.post{
  background-color: #F5F5F5;
  &:nth-child(even){
    background-color: #FAFAFA;
  }
  padding: 5px 30px;
  margin-bottom: 30px;
}

.twitter-feed{
  margin-top: 30px;
}

.six.columns.join-us{
  margin-top: 25px;
}

ul {
  list-style-position: inside;
  list-style-type: disc;
}
