%a{ href:"http://www.meetup.com/memphis-technology-user-groups/events/141121592/", data: { event: "141121592" }, class: "mu-rsvp-btn" }
  RSVP

:javascript
  !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s); js.id=id;js.async=true;js.src="https://secure.meetup.com/3245529744623182445/script/api/mu.btns.js?id=4jgprbv75rvds0gvr5625aa5as";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","mu-bootjs");
