.text-centered
  %h3
    %a{ href: article.url }
      =article.title

.date.text-centered
  %h6
    %a{ href: article.data.fetch("author_url", '/')}
      = article.data.fetch("author", 'MemphisRuby')
    —
    = article.date.strftime("%B %e, %Y")
.body
  %p
    =article.body

.row.text-centered
  Tagged:
  - article.tags.each do |t|
    =t
    -# Needs a tag template before this can render
    -#%a{ href: tag_path(t) }=t
