.row
  .twelve.columns
    %dl
      %dt
        Upcoming Meetings, Agendas, and RSVPs
      %dd
        %a{ href: "http://www.meetup.com/memphis-technology-user-groups" }
          Memphis Technology User Groups on Meetup.com
      %dt
        Slack
      %dd
        %a{ href: "//www.memphistechnology.org/blog/2015/05/23/join-memtech-on-slack-chat/" } #memphisruby inside #memtech Slack
      %dt
        Updates on Twitter
      %dd
        %a{ href: "//twitter.com/MemphisRuby" } @MemphisRuby
      %dt
        Upcoming Topics Discussion
      %dd
        %a{ href: "//memphisruby.uservoice.com/forums/237158-memphis-ruby-topic-requests-proposals-and-genera" } uservoice.com
