.row
  .twelve.columns
    %dl
      %dt 
        Upcoming Meetings, Agendas, and RSVPs
      %dd
        %a{ href: "http://www.meetup.com/memphis-technology-user-groups" }
          Memphis Technology User Groups on Meetup.com
      %dt
        Mailing List and Forum
      %dd
        %a{ href: "//groups.google.com/forum/#!forum/memphisruby" } Memphis Ruby on Google Groups
      %dt
        Updates on Twitter
      %dd
        %a{ href: "//twitter.com/MemphisRuby" } @MemphisRuby
      %dt
        Upcoming Topics Discussion
      %dd
        %a{ href: "//memphisruby.uservoice.com/forums/237158-memphis-ruby-topic-requests-proposals-and-genera" } uservoice.com
      %dt
        IRC Channel
      %dd
        %a{ href: "//irc.freenode.net/#MemphisRuby" } #MemphisRuby on freenode.net
