%header.row
  .twelve.columns.text-centered
    %a{ href: "//memphisruby.org" }
      %img{ src: "/images/memphis_ruby.png", alt: "Memphis Ruby" }
    %h2.title
      %a{ href: "//memphisruby.org" }
        %span.memphis Memphis 
        %span.ruby Ruby
  = partial 'shared/github_ribbon'
