---
title: 'Welcome to Memphis Ruby!'
---

.row
  .ten.columns.push_one
    %p.lead
      The Memphis Ruby Users Group is a software group interested in topics related to the 
      %a{href:'//www.ruby-lang.org/'} Ruby
      programming language. We have monthly meetups at various locations 
      throughout the Greater Memphis Area. We usually have two presentations 
      each month, given by local practitioners. Our members and topics range 
      from novice to expert, and we welcome newcomers.

.row
  .ten.columns.push_one
    .well= partial "shared/next_event"

.row
  .twelve.columns
    %h3.text-centered 
      %a{ href: '/posts' } Meetings & Updates
    .row
      .posts.list.twelve.columns
        - blog.articles.first(3).each do |article|
          .row
            .well= partial "posts/post", locals: { article: article }
