---
title: Welcome to the Memphis Ruby Users Group!
---

.container.text-center
  %h1
    Welcome to the Memphis Ruby Users Group!
  %p
    Details on upcoming meetings available at
    %a{ href: "http://www.meetup.com/memphis-technology-user-groups" }
      Memphis Technology User Groups
    on Meetup.com. 

  = partial 'layouts/tweet_stream'
  = partial 'layouts/github_ribbon'
