---
title: 'Welcome to Memphis Ruby!'
---

.row
  .ten.columns.push_one
    %p.lead
      The Memphis Ruby Users Group is a software group interested in topics related to the
      %a{href:'//www.ruby-lang.org/'} Ruby
      programming language. We have monthly meetups at various locations
      throughout the Greater Memphis Area. We a presentation
      each month, given by a local practitioner. Our members and topics range
      from novice to expert, and we welcome newcomers.

.row
  .ten.columns.push_one
    .well= partial "shared/next_event"

.row
  .ten.columns.push_one
    %h3.text-centered
      %a{ href: '/posts' } Recent Meetings & Updates
    .row
      .posts.list.twelve.columns.well
        - blog.articles.first(5).each do |article|
          .row
            = partial "posts/snippet", locals: { article: article }
